    .pageView .pageTitle {
        margin: 0;
    }
    .pageView .owner {
        font-style: italic;
        color: var(--base04);
    }

/*
.pageBlocks {
    border: var(--test-border-width) dotted orange !important;
}
    .pageBlocks > * + * {
    }
*/

.addBlock {
    border: var(--test-border-width) dotted lime;
    display: flex;
    align-items: center;
    opacity: var(--hidden-controls-opacity);
    transition-property: opacity;
    transition-duration: var(--fadeout-time);
    cursor: pointer;
}
.addBlock:hover {
    opacity: 1;
    transition-duration: var(--fadein-time);
}
    .addBlock .buttonColumn {
        flex-basis: var(--button-column-width);
        cursor: pointer;
    }
        .addBlock .buttonColumn button {
            display: block;
            font-weight: bold;
            width: 100%;
            padding: 5px 0px;
            color: var(--base00);
            background-color: var(--base0B);
            border-radius: var(--round-button);
            border: none;
            cursor: pointer;
        }
    .addBlock hr {
        display: block;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 15ch;
        height: 2px;
        border: none;
        /*background-color: var(--base0B);*/
        background: linear-gradient(90deg, var(--base0B) 0%, transparent 100%);
        margin: 0px;
    }

.blockRow {
    display: flex;
    border: var(--test-border-width) solid #888;
}
    .blockRow .buttonColumn {
        border: var(--test-border-width) dashed #888;
        flex-basis: var(--button-column-width);
        padding-right: var(--s-2);
        padding-top: var(--s-2);
        padding-bottom: var(--s-2);
        opacity: var(--hidden-controls-opacity);
        transition-property: opacity;
        transition-duration: var(--fadeout-time);
    }
    .blockRow:hover .buttonColumn {
        opacity: 1.0;
        transition-duration: var(--fadein-time);
    }
        .blockRow .buttonColumn > * + * {
            margin-top: 5px;
        }
        .blockRow .buttonColumn button {
            display: block;
            font-weight: bold;
            width: 100%;
            padding: 5px 0px;
            color: var(--base00);
            background-color: var(--base0D);
            border-radius: var(--round-button);
            border: none;
            cursor: pointer;
        }

    .blockRow .blockContent {
        border: var(--test-border-width) dashed #888;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        border-radius: var(--round-card);
        padding: var(--s-2);
        background-color: var(--base00);
        transition-property: box-shadow;
        transition-duration: var(--fadeout-time);
        box-shadow: 0px 0px 10px 3px transparent;
        z-index: -10;  /* make box-shadow go behind everything else */
    }
    .blockRow:hover .blockContent {
        transition-duration: var(--fadein-time);
        box-shadow: 0px 0px 10px 3px var(--base0D);
    }

        /* ---- markdown ---- */
        /* ---- remove top and bottom margins ---- */
        .blockRow .blockContent .markdown > :only-child {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .blockRow .blockContent .markdown > :first-child {
            margin-top: 0px;
        }
        .blockRow .blockContent .markdown > :last-child {
            margin-bottom: 0px;
        }
        /* ---- scale images ---- */
        .blockRow .blockContent .markdown img {
            max-width: 100%;
            max-height: 15em;
            border: 2px solid var(--base02);
            background-color: var(--base02);
        }
        /* ---- /markdown ---- */

        .blockRow .blockContent .details {
            display: none;
            color: var(--base03);
            text-align: right;
            font-size: 80%;
        }
