.themeDropdown {
    display: inline;
}
    .themeDropdown select {
        color: var(--base04);
        background-color: transparent;
        width: 12ch;
        display: inline-block;
        line-height: inherit;
        border: 2px solid var(--base02);
        border-radius: var(--round-button);
        padding: 5px 4px;
        font: inherit;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

.themeChooserFullScreen {
    display: inline;
}
    .themeChooserFullScreenBackdrop {
        text-align: center;
        z-index: 10;
        background-color: var(--base00);
        position: fixed;
        top: 0px; bottom: 0px;
        left: 0px; right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .themeChooserFullScreenPanel {
        text-align: left;
        overflow-y: scroll;
        margin-left: auto; margin-right: auto;
        margin-top: 8vh;
        max-height: 82vh;
        max-width: 50ch;
        background: #888;
        padding: 20px;
        border-radius: var(--round-card);
    }
    .themeChooserFullScreenPanel h3 {
        color: #fff;
    }
    .themeChooserFullScreenPanel .themeFlag {
        height: 1.5em;
    }

.themeFlag {
    display: flex;
    height: 8px;
    border: 8px solid var(--base00);
    background: var(--base00);
    border-radius: 100px;
    overflow: hidden;
}
    .themeFlagStripe {
        flex: 1 1 auto;
        text-align: center;
        line-height: 1.5em;
    }
