    .app .mainPanel {
        margin-left: var(--sidebar-width);
    }
    .app .sidebar {
        position: fixed;
        top: 0px; left: 0px; bottom: 0px;
        width: var(--sidebar-width);

        display: flex;
        flex-direction: column;
        overflow-y: auto;

        background-color: var(--base01);
        color: var(--base06);
    }
    .app .sidebarWorkspace {
        flex: 0 0;
        background-color: var(--base02);
    }
    .app .sidebarNav {
        flex: 0 0;
    }
    .app .sidebarStretch {
        flex: 1 1;
    }
    .app .sidebarSettings {
        color: var(--base04);
        flex: 0 0;
    }
    .app .sidebarUser {
        flex: 0 0;
        background-color: var(--base02);
    }
        .app .sidebar .legend {
            color: var(--base04);
            font-variant: small-caps;
            font-size: 85%;
            margin-bottom: var(--s-2);
        }
        .app .sidebar a {
            text-decoration: none;
            color: inherit;
        }
        .app .sidebar select {
            color: var(--base06);
            background-color: transparent;
            width: 100%;
            display: inline-block;
            line-height: inherit;
            border: none; /*2px solid var(--base03);*/
            padding: 0; /*5px 4px;*/
            border-radius: 0; /*var(--round-button);*/
            font: inherit;
            font-weight: bold;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
        }
        .app .sidebar .sidebarButton {
            display: block;
            width: 100%;
            text-align: left;
            border: none;
            background-color: transparent;
            color: inherit;
            padding: 0px;
            cursor: pointer;
            font: inherit;
        }
