/* overall settings */
:root {

    --test-border-width: 0px;

    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    --button-column-width: 5ch;

    --round-button: 10px;
    --round-card: 5px;

    --fadein-time: 0.08s;
    --fadeout-time: 0.4s;

    --hidden-controls-opacity: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}
.markdown > * {
    margin-top: 0px;
    margin-bottom: 0px;
}
.markdown > * + * {
    margin-top: 1rem;
}

/* start off with a default base16 theme which we'll override from javascript later.
    BASE16 colors

    00 background
    ...
    07 text

    08 red
    09 orange
    0A yellow
    0B green
    0C cyan
    0D blue
    0E purple
    0F brown
*/
/* atelier heath dark */
:root {
    --base00: #1b181b;
    --base01: #292329;
    --base02: #695d69;
    --base03: #776977;
    --base04: #9e8f9e;
    --base05: #ab9bab;
    --base06: #d8cad8;
    --base07: #f7f3f7;
    --base08: #ca402b;
    --base09: #a65926;
    --base0A: #bb8a35;
    --base0B: #918b3b;
    --base0C: #159393;
    --base0D: #516aec;
    --base0E: #7b59c0;
    --base0F: #cc33cc;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    background-color: var(--base00);
    color: var(--base07);
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    color: var(--base0E);
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

.buttonHollowFaint {
    color: var(--base03);
    background-color: var(--base00);
    border-radius: var(--round-button);
    border: 2px solid var(--base02) !important;
    font-weight: bold;
    padding: 5px 7px;
    font: inherit;
    cursor: pointer;
}

.buttonHollowStrong {
    color: var(--base07);
    background-color: var(--base00);
    border-radius: var(--round-button);
    border: 2px solid var(--base05) !important;
    font-weight: bold;
    padding: 5px 7px;
    font: inherit;
    cursor: pointer;
}

.buttonSolidFaint {
    color: var(--base00);
    background-color: var(--base03);
    border-radius: var(--round-button);
    font-weight: bold;
    padding: 5px 7px;
    font: inherit;
    cursor: pointer;
}

.buttonSolidStrong {
    color: var(--base00);
    background-color: var(--base05);
    border-radius: var(--round-button);
    font-weight: bold;
    padding: 5px 7px;
    font: inherit;
    cursor: pointer;
}