.themeDropdown {
    display: inline;
}
    .themeDropdown select {
        color: var(--base04);
        background-color: transparent;
        width: 12ch;
        display: inline-block;
        line-height: inherit;
        border: 2px solid var(--base02);
        border-radius: var(--round-button);
        padding: 5px 4px;
        font: inherit;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

/*
.themeChooser {
}
*/
    .themeChooser .themeFlag {
        height: 1.4em;
        border-radius: 15px;
        cursor: pointer;
        /*box-shadow: 0 0 0 1px rgba(127,127,127,0.3);*/
    }

.themeFlag {
    display: flex;
    height: 8px;
    border: 10px solid var(--base00);
    background: var(--base00);
    overflow: hidden;
}
    .themeFlagStripe {
        flex: 1 1 auto;
        text-align: center;
        line-height: 1.4em;
    }
